<h1>Manage the Users</h1>


<!-- This section of the code below is the simple input boxes for the page -->
<h3>Add New User</h3>
<%= form_for(User.new) do |f| %>
  <%= f.label "Name:" %> <%= f.text_field :name %>
  <%= f.label "Email:" %> <%= f.text_field :email %>
  </br><%= f.submit %>


<% end %>

<!-- With a Table for the display -->
  <table border="1" cellpadding = "5">
        <tr>
            <th> Name </th>
            <th> Email Address </th>
            <th> Destroy it? </th>
        </tr>

    

<% @users.each do |user| %>

  <tr> 
        <td><%= user.name %> </td>

        <td> <%= user.email %> </td>

        <td> <%= link_to 'Destroy', user, :confirm => 'Are you sure?',
                                        :method => :delete %> </td>
</tr>


  <% end %>  

  </table>


  <a href="/"> Back to the Front Page </a><br>